@charset "utf-8";
/*==== reset ====*/
*{-webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: none;}
html, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, ol, ul, li, form, table, tbody, tfoot, thead, tr, th, td, dl, dt, dd, fieldset{margin: 0; padding: 0; border: 0; font-size: 100%; font-family: hel, "黑体", simhei, arial, sans-serif; font-weight: normal; word-wrap: break-word; word-break: break-all;}
body{height: 100%;}
body, button, input{font-family: hel, "黑体", simhei, arial, sans-serif; outline: none;}
body{background: #fff; line-height: 1.5; margin: 0 auto; color: #565c62; overflow: hidden; overflow-x: hidden;}
html, body{overflow-x: hidden; width: 100%; -webkit-touch-callout: none;}
body.moblie-wrap-bg{overflow-x: hidden;}
.ui-page.ui-body-c.ui-page-active{overflow-x: hidden;}
h2{font-size: 100%; word-wrap: break-word;}
em, i{font-weight: normal; font-style: normal;}
table{border-collapse: collapse; border-spacing: 0; width: 100%;}
table, td, th, li, img, input, select, .vm{vertical-align: middle; outline: none;}
blockquote:before, blockquote:after, q:before, q:after{content: "";}
blockquote, q{quotes: "" "";}
input{padding: 5px; margin: 0; outline: 0; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input[type="checkbox"]{-webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox;}
input[type="radio"]{-webkit-appearance: radio; -moz-appearance: radio; appearance: radio;}
a:-webkit-any-link{text-decoration:none; cursor:auto}
a, a:focus, a img{border:none; hide-focus:expression(this.hideFocus=true); outline:none;}
a{text-decoration: none; outline: none; color: #333; -webkit-tap-highlight-color: rgba(0,0,0,0); cursor: pointer; border: 0;}
a:active{-webkit-tap-highlight-color: rgba(0,0,0,0); color: #333;}
li{list-style: none; vertical-align: middle;}

body {
	background-color: #f0f3f0;
}
.payment-warp {
	margin-bottom: 2.45rem;
}
.payment-header {
	height: 2.45rem;
	line-height: 2.45rem;
	background-color: #009ae1;
	position: relative;
}
.head-title {
	font-size: 1rem;
	color: #fff;
}
.back-icon {
	position: absolute;
	left: 0.5rem;
	top: 0.15rem;
	color: #fff;
}
.back-icon .icon {
	font-size: 1.5rem;
}
.order-info {
	margin: 0.5rem 0;
	margin-top: 0;
}
.order-explain {
	font-size: 0.7rem;
	background-color: #fff;
    padding: 0.5rem 0.875rem;
    border-bottom: 1px solid #ddd;
}
.order-items {
	/* padding: 0 0.875rem; */
	background-color: #fff;
}
.order-item {
	padding: 0.5rem 0;
	font-size: 0.75rem;
	font-weight: 700;
	color: #000;
}
.order-num {
	border-bottom: 1px solid #ddd;
	padding-left: 0.875rem;
}
.pay-type {
	background-color: #fff;
}
.pay-channel {
	padding: 0 0.875rem;
	border-bottom: 1px solid #ddd;
	cursor:pointer; 
}
.channel-img {
	display: inline-block;
} 
.bank-img {
	height: 55px;
}
.simulate-radio {
	display: inline-block;
	width: 27px;
	height: 26px;
	border-radius: 13.5px;
	border: 1px solid #ddd;
	float: right;
	margin-top: 16px;
	cursor:pointer; 
}
.payment-footer {
	width: 18.75rem;
	height: 2.45rem;
	line-height: 2.45rem;
	position: fixed;
	left: 0;
	bottom: 0;
}
.pay-prompt {
	font-size: 1rem;
	color: #fff;
	width: 6rem;
	background-color: #009ae1;
}
.actual-payment {
	width: 12.75rem;
	height: 2.45rem;
	line-height: 2.45rem;
	background-color: #fff;
	padding-left: 0.875rem;
}
.actual-explain {
	font-size: 0.9rem;
	font-weight: 700;
}
#orderAmount {
	font-size: 1rem;
	color: #FF7F00;
	font-weight: 700;
}
.serial-num {
	/* display: inline-block; */
    width: 5em;
    text-align: justify;
}
.w4 {
	letter-spacing: 0.3333em;/*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-3）/(3-1)=0.5em */
    margin-right: -0.3333em;
}
.channel-selected {
	background: url(../../images/payment/app-channel.png) no-repeat 100%;
	border-color: transparent;
}

#reloadPage {
	position: fixed;
	width: 10rem;
	height: 5rem;
	background-color: #fff;
	left: 50%;
	top: 50%;
	margin-left: -5rem;
	margin-top: -2.5rem;
	z-index: 3000;
	display: none;
	-moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari 和 Chrome */
	border-radius: 10px;
}
.refresh-explain {
	margin-top: 1.5rem;
	padding: 0 20px;
}
#modalMark {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	opacity: 0.5;	
	display: none;
}