<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxyj.cashier.mapping.SequenceMapper" >
  <resultMap id="BaseResultMap" type="com.gxyj.cashier.domain.Sequence" >
    <id column="seq_name" property="seqName" jdbcType="VARCHAR" />
    <result column="current_val" property="currentVal" jdbcType="BIGINT" />
    <result column="increment_val" property="incrementVal" jdbcType="INTEGER" />
    <result column="circle" property="circle" jdbcType="INTEGER" />
    <result column="max_val" property="maxVal" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    seq_name, current_val, increment_val, circle, max_val
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sequence
    where seq_name = #{seqName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sequence
    where seq_name = #{seqName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gxyj.cashier.domain.Sequence" >
    insert into sequence (seq_name, current_val, increment_val, 
      circle, max_val)
    values (#{seqName,jdbcType=VARCHAR}, #{currentVal,jdbcType=BIGINT}, #{incrementVal,jdbcType=INTEGER}, 
      #{circle,jdbcType=INTEGER}, #{maxVal,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.gxyj.cashier.domain.Sequence" >
    insert into sequence
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqName != null" >
        seq_name,
      </if>
      <if test="currentVal != null" >
        current_val,
      </if>
      <if test="incrementVal != null" >
        increment_val,
      </if>
      <if test="circle != null" >
        circle,
      </if>
      <if test="maxVal != null" >
        max_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqName != null" >
        #{seqName,jdbcType=VARCHAR},
      </if>
      <if test="currentVal != null" >
        #{currentVal,jdbcType=BIGINT},
      </if>
      <if test="incrementVal != null" >
        #{incrementVal,jdbcType=INTEGER},
      </if>
      <if test="circle != null" >
        #{circle,jdbcType=INTEGER},
      </if>
      <if test="maxVal != null" >
        #{maxVal,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gxyj.cashier.domain.Sequence" >
    update sequence
    <set >
      <if test="currentVal != null" >
        current_val = #{currentVal,jdbcType=BIGINT},
      </if>
      <if test="incrementVal != null" >
        increment_val = #{incrementVal,jdbcType=INTEGER},
      </if>
      <if test="circle != null" >
        circle = #{circle,jdbcType=INTEGER},
      </if>
      <if test="maxVal != null" >
        max_val = #{maxVal,jdbcType=BIGINT},
      </if>
    </set>
    where seq_name = #{seqName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gxyj.cashier.domain.Sequence" >
    update sequence
    set current_val = #{currentVal,jdbcType=BIGINT},
      increment_val = #{incrementVal,jdbcType=INTEGER},
      circle = #{circle,jdbcType=INTEGER},
      max_val = #{maxVal,jdbcType=BIGINT}
    where seq_name = #{seqName,jdbcType=VARCHAR}
  </update>
  
  <select id="findBySeqName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sequence
    where seq_name = #{seqName,jdbcType=VARCHAR}
  </select>
  
   <select id="fetchNextVal" resultType="java.lang.Integer" parameterType="java.lang.String" >
     select 
     nextval(#{seqName,jdbcType=VARCHAR})
   </select>
   
    <update id="incCurrentValueFor" parameterType="com.gxyj.cashier.domain.Sequence" >
	    update sequence
	    set current_val = current_val + #{currentVal,jdbcType=BIGINT}
	    where seq_name = #{seqName,jdbcType=VARCHAR}  
    </update>
    
     <update id="setCurrentValueFor" parameterType="com.gxyj.cashier.domain.Sequence" >
	    update sequence
	    set current_val = #{currentVal,jdbcType=BIGINT}
	    where seq_name = #{seqName,jdbcType=VARCHAR}  
    </update>
  
  
</mapper>