@CHARSET "UTF-8";

/* 公共样式 */
body {
	background-color: #f0f3f0;
    overflow-x: hidden;
}
.over-hidden {
    overflow: hidden;
}
.dis-none {
    display: none !important;
}
.display-none {
    display: none;
}
.special-color {
    color: #ffa900;
}
.red-color {
    color: #e50d1e;
}
.m-t-xs {
	margin-top: 5px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    border-color: transparent;
}
.btn {
	-moz-border-radius: 4px; /* Firefox */
  	-webkit-border-radius: 4px; /* Safari 和 Chrome */
	border-radius: 4px;
}
/* 公共样式结束 */

/* 头部导航 */
.logo-img {
	height: 100%;
	overflow: hidden;
}
.gx-logo {
	padding: 6px 6px 6px 0;
	min-height: 100%;
	float: left;
	max-width: none;
}
.payment-head {
	border-bottom: 3px solid #fe8b00;
	background-color: #fff;
	height: 90px;
}
.header {
	padding: 8px 0;
	height: 90px;
}
.logo-name {
    font-weight: 700;
    font-size: 18px;
    margin-top: 35px;
    float: left;
}
.header-right {
    padding: 42px 0 0 0;
    margin-bottom: 0;
}
.header-right li {
    cursor: pointer;
}
.header-right .active {
    color: #000000;
    font-weight: 700;
}

.pay-wrapper {
    background-color: #fff;
}
.pay-header {
    border-bottom: 1px solid #eee;
}
.pay-wrapper .breadcrumb>li+li:before {
    content: "|\00a0";
}
.pay-header span{
	display: inline-block;
    height: 100%;
    border-bottom: 2px solid #aaa;
    color: #000;
    font-size: 16px;
    padding: 15px 40px 10px 0;
    font-weight: 700;
}
/* 头部导航结束 */
/* 订单信息 */
.order-section {
    background-color: #efefef;
    padding: 28px 0;
    height: 184px;
}
.order-part {
	height: 128px;
}
.shop-code {
	width: 128px;
	height: 128px;
}
.shop-logo {
	width: 100%;
	height: 100%;
}
.order-num {
    font-size: 13px;
    color: #000;
    font-weight: 700;
    margin-top: 10px;
}
.order-explain {
    font-size: 13px;
    margin-top: 8px;
}
.order-product {
    font-size: 14px;
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-order {
	display: block;
	/* margin-left: -5px; */
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.order-info {
    max-width: 60%;
    padding-left: 20px;
}
.order-pay {
    margin-top: 30px;
    text-align: right;
}
.serial-num {
	margin-top: 6px;
}
.special-color >span >strong {
    color: #ffa900;
    font-size: 14px;
}
.order-item {
    display: inline-block;
    width: 5em;
    text-align: justify;
}
.order-item span {
    display: block;
}
.w3 {
    letter-spacing:1em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-3）/(3-1)=0.5em */
    margin-right:-1em; /*同上*/
}
/* 订单信息结束 */
/* 支付渠道 */
.bank-lists ul li {
    text-align: center;
    width: 20%;
    height: 44px;
    float: left;
}
.bank-lists .active {
	border: 2px solid #fe8b00;
}
.bank-list {
    position: relative;
    margin-top: 25px;
}

.bank-item {
	height: 100%;
	cursor: pointer;
	width: 215px;
    border: 1px solid #ddd;
    margin: 0 auto;
}
@media screen and (min-width: 1370px) and (max-width: 1720px) {
	.bank-lists ul li {
    	width: 25%;
	}
}
@media screen and (min-width: 810px) and (max-width: 1369px) {
	.bank-lists ul li {
    	width: 33.33333333%;
	}
}
@media screen and (min-width: 760px) and (max-width: 809px) {
	.bank-lists ul li {
    	width: 50%;
	}
}
@media screen and (min-width: 700px) and (max-width: 759px) {
	.bank-lists ul li {
    	width: 33.33333333%;
	}
}
@media screen and (min-width: 500px) and (max-width: 699px) {
	.bank-lists ul li {
    	width: 50%;
	}
} 
@media screen and (max-width: 499px) {
	.bank-lists ul li {
    	width: 100%;
	}
	.order-pay {
		display: none;
	}
}
.pay-immediate {
    padding: 20px 0 40px 0;
}
.pay-now-section {
	border-top: 1px solid #eee;
	padding-top: 30px;
}
.pay-btn {
    padding: 10px 60px;
    background-color: #ffa900;
}
.pay-amount span {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    float: left;
}
.pay-money {
    font-size: 24px;
    color: #ffa900;
    font-weight: 700;
}
.bank-img {
     width: 85%; 
     max-width: 85%;
     height: 40px;
     float: left;
}
.bank-select {
    max-width: 15%;
    /* height: 20px; */
    margin-top: 12px;
}
/******************** 支付渠道结束*************/
/***************** 弹框 ************************/
.pay-modal {
    width: 600px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    bottom: auto;
    margin-left: -300px;
    max-height: 600px;
    margin-top: 80px;
}
.chat-modal {
    width: 800px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    bottom: auto;
    margin-left: -400px;
    max-height: 600px;
    margin-top: 80px;
}
.modal-btn-group {
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal-btn-group a {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 40px;
}
.modal-body-left {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}
.modal-body-right {
    width: 80%;
}
.modal-left {
    width: 50%;
    text-align: right;
}
.modal-right {
    width: 50%;
}
.pay-type {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    margin: 0;
}
.modal-header-common {
    padding: 10px 15px;
}
.modal-body-common {
    padding: 40px  0;
}
.modal-body-common>P {
	margin-bottom: 20px;
}
.gxyj-modal {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
 }
.other-pay-type {
    clear: both;
    display: block;
    margin-bottom: 30px;
    padding-left: 55px;
}
#modalMark {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	-khtml-opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
	filter:"alpha(opacity=50)";
	opacity:0.5; 
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);/*兼容ie8及以下*/	
	display: none;
}
#destoryCode {
	width: 50px;
	height: 50px;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1200;
	display: none;
	margin-left: -25px;
	margin-top: -25px;
}
.time-out {
	color: #e50d1e;
}
/* 弹框结束 */
/* 底部信息 */
.pay-footer {
	margin: 40px 20px 20px 20px;
    text-align: center;
    background-color: #f0f3f0;
}
#reloadPage {
	position: fixed;
	width: 400px;
	height: 200px;
	background-color: #fff;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;
	z-index: 3000;
	display: none;
	-moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari 和 Chrome */
	border-radius: 10px;
}
.refresh-explain {
	margin-top: 90px;
	padding: 0 20px;
}
/* 底部信息结束 */
